
<div class="myTile habitDetail container">


	<div class="row">
		<div id="habitHeading" class=" col-8"></div>
		</div>	<br>
	<div class="row">

		<div class="col-8">
				<div id="todaysQuantity"></div>
				<div id="unit"></div>
				<div id="totalPixelsCount"></div>
		</div>
		<div class="col-4">
				<div id="totalQuantity"></div>
				<div id="avgQuantity"></div>
				<div id="maxQuantity"></div>
				<div id="minQuantity"></div>
			</div>
		</div>
	
<hr>
	<div id="lineSvg"></div>
	<br>
	<div id="fullSvg"></div>
	<hr>

		<div class="row">
			<div clas="col-12">
				<p>Todays amount:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-8">
				<input type="text" class="form-control" id="amount" placeholder="enter number">
			</div>
			<div class="col-4 text-end">
				<button type="submit" onclick="setPixelAmount()" class="btn btn-info myButt">Set pixel</button>
			</div>
		</div>
	
	</div>
		






<script>
async function setPixelAmount() {
	let user = localStorage.getItem('username');
	let amount = $('#amount').val();
	let habitIdFromUrl = getfromUrl('habit');
		
	await updatePixel(user, habitIdFromUrl, amount);
	$('#amount').val('');
	
	runOneHabit();
}


function runOneHabit() {
	let habitIdFromUrl = getfromUrl('habit');
	let user = localStorage.getItem('username');

	clearSelectedElements(['habitHeading', 'todaysQuantity', 'unit','totalPixelsCount','totalQuantity', 'avgQuantity', 'maxQuantity', 'minQuantity']);
	clearSelectedElements(['lineSvg', 'fullSvg'])

	$('#habitHeading').append('<h2 class="display-4">'+ habitIdFromUrl.toUpperCase() +'</h2>');
	
	getGraphUnit(user, habitIdFromUrl);
	getGraphStats(user, habitIdFromUrl);

	showSVGByType(user, habitIdFromUrl, 'line', 'lineSvg');
	showSVGByType(user, habitIdFromUrl, 'full', 'fullSvg');
}


function showSVG(id) {
	
	let xmlHttp = new XMLHttpRequest();
	xmlHttp.open( "GET",'https://pixe.la/v1/users/'+ getCookie('userName') +'/graphs/' + id , false ); // false for synchronous request
	xmlHttp.send( null );

	
	$('#svg').append('<h2><a onclick="goToHabit(\''+id+'\')">'+ id +'</a></h2><div>'+ xmlHttp.responseText +'</div>');
	$('#gif').remove();
}; 

runOneHabit();


</script>
